* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #fdfeff;
  line-height: 2;
  font-family: arial, sans-serif;
  color: black;
}

main section p a {
  text-decoration: underline;
  color: black;
}

body {
  padding-left: 275px;
  padding-right: 275px;
}

#resume {
  font-size: 16px;
  text-decoration: underline;
  color: black;
}

#resume:hover {
  text-decoration: underline;
}

#resume:visited {
  text-decoration: none;
}

p a {
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  color: #484848;
}

p a:hover {
  text-decoration: underline;
}

p a:visited {
  text-decoration: none;
}

header {
  text-align: center;
}

header h1 {
  font-size: 60px;
  weight: lighter;
}

#discipline {
  margin-top: -40px;
  margin-bottom: 40px;
}

ul li {
  margin-right: 30px;
  font-size: 20px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #484848;
}

li a:hover {
  text-decoration: underline;
}

li a:visited {
  color: #484848;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section {
  margin-bottom: 20px;
}

main section h2 {
  margin-bottom: 40px;
}

main p {
  margin-bottom: 40px;
}

span {
  font-style: italic;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #484848;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #484848;
}


@media screen and (max-width: 1050px) {
  body {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer a, footer p {
    font-size: 20px;
  }
}


@media screen and (max-width: 680px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  main {
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer a, footer p {
    font-size: 20px;
  }
}
