* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #fdfeff;
  line-height: 2;
  font-family: arial, sans-serif;
  color: #484848;
}

body {
  padding-left: 275px;
  padding-right: 275px;
}

nav {
  margin-bottom: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li a {
  font-size: 16px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 45px;
  weight: lighter;
}

#discipline {
  margin-top: -40px;
  margin-bottom: 40px;
}

ul li {
  margin-right: 30px;
  font-size: 20px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #484848;
}

li a:hover {
  text-decoration: underline;
}

li a:visited {
  color: #484848;
}

main {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#resume {
  text-align: left;
  margin-bottom: 40px;
}

table tr td {
  padding-bottom: 20px;
  width: 1%;
}

table tr td a {
  text-decoration: none;
  color: #484848;
}

table tr td a:hover {
  text-decoration: underline;
  color: #484848;
}

table tr td a:visited {
  text-decoration: none;
  color: #484848;
}

#technology, #education, #awards, #research{
  padding-top: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
