* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  max-width: 700px;
  margin: auto;
}

#nameTitle {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#blog {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 30px;
  color: rgb(136, 136, 136);
  text-decoration: none;
}

a {
  cursor: pointer;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.navTitle {
  color: #6495ED;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

#selectedProfileTitle, #selectedProjectsTitle, #selectedResumeTitle {
  text-decoration: underline;
}

#projectsTitle, #selectedProjectsTitle {
  margin-left: 45px;
  margin-right: 45px;
}

#youTubeIcon {
  margin-right: 15px;
}

.contactIcon {
  height: 35px;
  width: 35px;
}

#githubIcon {
  margin-right: 15px;
  margin-left: 15px;
}

#footer {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
}

#footerTitle {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(148, 148, 148);
}