body {
  font-family: Arial, Helvetica, sans-serif;
}

#testingProfile, #stemProfile {
  width: 180%;
  height: 180%;
  margin-left: -35%;
}

#mediumLink {
  text-decoration: underline;
}

#mediumlink:visited {
  color: black;
}

#testingProfileTitle {
  margin-top: 70px;
}

p {
  font-size: 20px;
  line-height: 150%;
}

#resumeContainer {
  display: flex;
  flex-direction: row;
}

#resumeLeft {
  width: 40%;
}

#resumeRight {
  width: 40%;
  padding-left: 100px;
}

.stemItem {
  font-size: 20px;
  line-height: 150%;
}

#mathCourses {
  margin-top: 30px;
}

#mathCourseList {
  margin-bottom: 140px;
}

.sideTitle {
  font-size: 35px;
  margin-top: 0px;
  text-decoration: underline;
}

.school, .title {
  font-size: 20px;
}

.date {
  font-size: 20px;
}

.edStint p {
  line-height: 150%;
}

.moreInfo {
  font-size: 18px;
}

#accomplishments {
  margin-top: 87px;
}

.moreInfoRight {
  font-size: 20px;
  line-height: 120%;
  width: 150%;
}

#experience {
  margin-bottom: 100px;
}

h3 {
  color: grey;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px;
  }

th, td {
  border: 1px solid #333;
  padding: 6px 8px;
  vertical-align: middle;
  text-align: left;
}

th {
  background-color: #eee;
  font-weight: bold;
  text-align: left;
}

/* Bold for test names and section titles */
.test-name {
  font-weight: bold;
}

/* Gray background for summary rows */
.summary-row {
  background-color: #ccc;
}

@media (max-width: 580px) {
  #tableContainer {
    overflow-x: auto;
  }

  .stemItem {
    font-size: 16px;
  }

  #resumeContainer {
    flex-direction: column;
  }
  
  #resumeRight {
    padding-left: 0px;
  }

  #resumeLeft {
    width: 80%;
  }

  #experience {
    margin-top: -50px;
  }

  #education {
    margin-top: -50px;
  }

  .sideTitle {
    font-size: 20px;
    margin-top: 0px;
    text-decoration: underline;
  }
  
  .school, .title, .moreInfoRight {
    font-size: 16px;
  }

  #resumeRight {
    margin-top: 50px;
    width: 60%;
  }

  .milestone {
    font-size: 16px;
  }

  .testTitle {
    font-size: 16px;
  }

  .profileItem {
    font-size: 16px;
  }
}